  <li>
    <a href="https://www.linkedin.com/in/colinwestwater/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fa-brands fa-linkedin" aria-hidden="true"></i><span class="label"><span> LinkedIn</span>
    </a>
  </li>

  <li>
    <a href="https://bsky.app/profile/cwestwater.bsky.social" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fa-brands fa-bluesky" aria-hidden="true"></i><span class="label"><span>Bluesky</span>
    </a>
  </li>

  <li>
    <a href="https://vexpert.vmware.com/directory/978" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fa-solid fa-address-book" aria-hidden="true"></i><span class="label"><span>vExpert Directory</span>
    </a>
  </li>